@import "fonts";
@import "resets";

body {
  font-family: "FuturaBookC", sans-serif;
  color: #111;
  background: #f2f2f4;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

[role="button"] {
  cursor: pointer;
}

a {
  display: inline-block;
}

a:hover {
  opacity: 0.5;
}

h2 {
  font-family: "FuturaFuturisC", sans-serif;
  font-size: toRem(45);
  font-weight: 700;
  text-align: center;
  margin-bottom: toRem(24);
}

.banner-title {
  font-family: "FuturaBookC", sans-serif;
  font-weight: 700;
  font-size: toRem(70);
  text-transform: uppercase;
}
.banner-subtitle {
  font-family: "FuturaDemiC", sans-serif;
  font-weight: 600;
  text-transform: lowercase;
  opacity: 0.5;
}

.banner-info {
  font-family: "FuturaBookC", sans-serif;
  font-size: toRem(23);
  font-weight: 400;
}

.button {
  border: 1px solid #ffa500;
  display: block;
  cursor: pointer;
  padding: toRem(19) toRem(68);
  background: #ffa500;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
}

.form .button {
  margin-top: 35px;
  width: 100%;
}

.button:hover {
  opacity: 0.9;
}

.header {
  position: fixed;
  padding: 54px calc((100% - 1280px) / 2);
  width: 100%;
  color: #fff;
  z-index: 2;
  font-size: toRem(18);
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.wrap {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.contact {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: toRem(36);
  font-weight: 300;
}

.banner {
  padding: 182px 0;
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/bg-lines.png"), url("../img/bg-1.png");
  color: #fff;
}

.banner-info {
  font-size: toRem(23);
  margin-bottom: 27px;
  text-align: left;
}

.list {
  position: relative;
  padding: 30px;
}

.list-element {
  margin-bottom: 5px;
}

.backdrop {
  background: linear-gradient(
    90deg,
    #969af7 1.34%,
    rgba(150, 154, 247, 0) 96.66%
  );

  border-radius: 10px;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.list-element::before {
  content: "\2713";
  color: #48ffff;
  margin-right: 10px;
}

.banner-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
}

.banner-form {
  border-radius: 10px;
}

.form-header {
  padding: 40px 40px 0;
  background: #552693;
  border-radius: 10px 10px 0 0;
}

.form-title {
  text-align: center;
  font-weight: 700;
  font-size: toRem(23);
  font-family: "FuturaFuturisC", sans-serif;
}
label {
  padding: toRem(10);
}
.form-input {
  width: 100%;
  background-color: #f5f3ff;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 3px 0px #0000001a inset;
  padding: 20px;
  font-size: toRem(18);
}

.form-inner {
  padding: 40px;
  background: #fff;
  border-radius: 0 0 10px 10px;
  color: #626366;
}

.form-extra {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.extra-text {
  font-size: toRem(14);
}

.input-group {
  margin-bottom: 10px;
}

.menu-element,
.banner-info {
  opacity: 0.3;
}

.bg-dark {
  background-color: #1c0a90;
}
.why {
  padding: 88px 0;
}

.why-title {
  margin-bottom: 25px;
}
.info {
  font-size: toRem(22);
  text-align: center;
  margin-bottom: 42px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: toRem(43) toRem(32);
}

.card-img {
  margin: 0 auto 40px;
}

.why-card {
  background: center 0 / cover url("../img/why-card-bg.png") #fff;
  border-radius: 10px;
  max-width: 369px;
  box-shadow: 0px 4px 30px 0px #0926c00d;
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  color: #2a336c;
}

.card-title {
  font-family: "FuturaFuturisC", sans-serif;
  font-size: toRem(18);
  font-weight: 700;
  margin-bottom: toRem(15);
}

.card-info {
  font-family: "FuturaBookC", sans-serif;
  font-size: toRem(18);
  font-weight: 400;
  color: #555;
}
.brands-slide {
  max-width: 242px;
  height: 174px;
  border-radius: 10px;
  background: #fff;
  position: relative;
}
.brands {
  padding: 175px 20px;
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/bg-lines2.png"), url("../img/bg-3.png");
  color: #fff;
}

.brands-title {
  margin-bottom: toRem(57);
}

.brand-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.brands-button-prev,
.brands-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.brands-button-prev {
  left: 0;
}

.brands-button-next {
  right: 0;
}

.brands-slider {
  margin-bottom: 42px;
  position: relative;
  padding-inline: 120px;
}

.brand-info {
  font-size: toRem(18);
}
.work {
  padding: 135px 0 155px;
  position: relative;
  background: center 0 / cover no-repeat url(../img/bg-4.png);
  margin-top: -60px;
}

.work-cards {
  color: #fff;
  margin-bottom: 48px;
  gap: 30px 25px;
  counter-reset: cards;
}

.work-card {
  border-radius: 20px;
  max-width: 442px;
  min-height: 268px;
  padding: 48px 20px 30px 100px;
  position: relative;
  background-size: 100% 100%;
  background-image: url("../img/work-card-bg.png"),
    linear-gradient(264.78deg, #041080 -2.85%, #0926c0 93.37%);
}

.work-card:nth-child(1) {
  clip-path: path(
    "M20 0C8.95431 0 0 8.95429 0 20V248.372C0 259.418 8.95431 268.372 20 268.372H393C404.046 268.372 413 259.418 413 248.372V177.073L438.319 139.323C439.858 137.03 439.858 133.312 438.319 131.018L413 93.2681V20C413 8.9543 404.046 0 393 0H20Z"
  );
  width: calc(100% + 32px);
}

.work-card:nth-child(2) {
  clip-path: path(
    "M20 0C8.9543 0 0 8.95429 0 20V86.5556L26.9424 130.805C28.3785 133.163 28.3785 136.987 26.9424 139.346L0 183.595V248.372C0 259.418 8.95432 268.372 20 268.372H394C405.046 268.372 414 259.418 414 248.372V20C414 8.9543 405.046 0 394 0H20Z M20 0C8.9543 0 0 8.95429 0 20V86.5556L26.9424 130.805C28.3785 133.163 28.3785 136.987 26.9424 139.346L0 183.595V248.372C0 259.418 8.95432 268.372 20 268.372H394C405.046 268.372 414 259.418 414 248.372V20C414 8.9543 405.046 0 394 0H20Z M391.349 66.1997C392.887 63.9064 395.381 63.9064 396.919 66.1997L440.393 131.018C441.931 133.312 441.931 137.03 440.393 139.323L396.919 204.142C395.381 206.435 392.887 206.435 391.349 204.142L347.874 139.323C346.336 137.03 346.336 133.312 347.874 131.018L391.349 66.1997Z"
  );
  width: calc(100% + 32px);
}

.work-card:nth-child(3) {
  clip-path: path(
    "M20 0C8.95431 0 0 8.95429 0 20V84.9821L28.0166 130.995C29.4527 133.354 29.4527 137.178 28.0166 139.537L0 185.55V248.372C0 259.418 8.95431 268.372 20 268.372H393C404.046 268.372 413 259.418 413 248.372V20C413 8.9543 404.046 0 393 0H20Z M20 0C8.95431 0 0 8.95429 0 20V84.9821L28.0166 130.995C29.4527 133.354 29.4527 137.178 28.0166 139.537L0 185.55V248.372C0 259.418 8.95431 268.372 20 268.372H393C404.046 268.372 413 259.418 413 248.372V20C413 8.9543 404.046 0 393 0H20Z M150.208 244.803C148.217 242.891 148.26 239.835 150.304 237.979L205.538 187.839C207.583 185.982 210.855 186.029 212.846 187.941L266.927 239.883C268.918 241.796 268.875 244.851 266.831 246.707L211.597 296.848C209.552 298.704 206.28 298.658 204.288 296.745L150.208 244.803Z"
  );
  height: calc(100% + 32px);
}

.work-card:nth-child(4) {
  clip-path: path(
    "M393 0.62793C404.046 0.62793 413 9.58222 413 20.6279V85.1841L385.013 131.203C383.578 133.562 383.578 137.388 385.013 139.747L413 185.766V249C413 260.046 404.046 269 393 269H20C8.95432 269 0 260.046 0 249V20.6279C0 9.58223 8.95432 0.62793 20 0.62793H393Z"
  );
}

.work-card:nth-child(5) {
  clip-path: path(
    "M421.822 0C432.867 0 441.822 8.95429 441.822 20V85.8705L414.634 130.575C413.199 132.934 413.199 136.76 414.634 139.119L441.822 183.823V248.372C441.822 259.418 432.867 268.372 421.822 268.372H47.8216C36.7759 268.372 27.8216 259.418 27.8216 248.372V20C27.8216 8.9543 36.7759 0 47.8216 0H421.822Z M421.822 0C432.867 0 441.822 8.95429 441.822 20V85.8705L414.634 130.575C413.199 132.934 413.199 136.76 414.634 139.119L441.822 183.823V248.372C441.822 259.418 432.867 268.372 421.822 268.372H47.8216C36.7759 268.372 27.8216 259.418 27.8216 248.372V20C27.8216 8.9543 36.7759 0 47.8216 0H421.822Z M50.1983 65.9281C48.6601 63.6347 46.1662 63.6347 44.628 65.9281L1.15363 130.747C-0.384545 133.04 -0.384543 136.758 1.15363 139.051L44.6281 203.87C46.1662 206.163 48.6601 206.163 50.1983 203.87L93.6727 139.051C95.2109 136.758 95.2109 133.04 93.6727 130.747L50.1983 65.9281Z"
  );
  width: calc(100% + 32px);
  margin-left: -32px;
  .card-content {
    margin-left: 32px;
  }
  .card-title::before {
    padding-left: 32px;
  }
}

.work-card:nth-child(6) {
  clip-path: path(
    "M209.334 0.62793H46.7454C35.6997 0.62793 26.7454 9.58222 26.7454 20.6279V249C26.7454 260.046 35.6997 269 46.7454 269H419.745C430.791 269 439.745 260.046 439.745 249V20.6279C439.745 9.58223 430.791 0.62793 419.745 0.62793H261.461L240.4 21.4088C238.435 23.3484 235.163 23.4388 233.094 21.6109L209.334 0.62793Z M209.334 0.62793H46.7454C35.6997 0.62793 26.7454 9.58222 26.7454 20.6279V249C26.7454 260.046 35.6997 269 46.7454 269H419.745C430.791 269 439.745 260.046 439.745 249V20.6279C439.745 9.58223 430.791 0.62793 419.745 0.62793H261.461L240.4 21.4088C238.435 23.3484 235.163 23.4388 233.094 21.6109L209.334 0.62793Z M44.6281 66.556C46.1662 64.2626 48.6601 64.2626 50.1983 66.556L93.6727 131.374C95.2109 133.668 95.2109 137.386 93.6727 139.679L50.1983 204.498C48.6601 206.791 46.1662 206.791 44.628 204.498L1.15363 139.679C-0.384545 137.386 -0.384543 133.668 1.15363 131.374L44.6281 66.556Z"
  );
  width: calc(100% + 32px);
  margin-left: -32px;
  .card-content {
    margin-left: 32px;
  }
  .card-title::before {
    padding-left: 32px;
  }
}

.card-title {
  margin-bottom: 25px;
}

.work-card [class^="card-"] {
  font-size: toRem(18);
  padding-right: toRem(18);
}

.work-card .card-title::before {
  counter-increment: cards;
  content: "0" counter(cards);
  position: absolute;
  left: 38px;
  top: 43px;
  font-size: toRem(36);
  color: #969af7;
  font-family: "FuturaFuturisC", sans-serif;
}

.work-button {
  margin: auto;
}

.menu-link:hover {
  text-decoration: underline;
  opacity: 1;
}

.faq-title {
  margin-bottom: 53px;
}

.faq {
  color: #333333;
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/bg-lines3.png), url(../img/bg-5.png);
  padding: 131px 0 95px;
  margin-top: -60px;
}

.faq-wrap {
  margin-top: 131px;
  margin-bottom: 95px;
}

.article-title--white {
  color: #fff;
}
.faq-questions {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.faq-question {
  background: #fff;
  border-radius: 10px;
}

.houdini-heading .houdini-toggle {
  font-size: 1.3rem;
  padding: 30px 53px;
  border-radius: 10px;
  background: linear-gradient(180deg, #ffffff 50.57%, #bdc0ff 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
}
.houdini-heading .houdini-toggle[aria-expanded="true"] {
  background: linear-gradient(180deg, #969af7 0%, #686eec 100%);
  color: #fff;
}

.answer {
  padding: 40px;
  background: #fff;
  border-radius: 10px;
}

.houdini-toggle-icon {
  background: #757aef;
  border-radius: 50%;
  padding: 16.5px 13px;
}

[aria-expanded="true"] .houdini-toggle-icon {
  background: #fff;
}

.footer {
  background: #333333;
  color: #fff;
  font-size: toRem(18);
  padding: 60px 0;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.footer-menu {
  opacity: 1;
}

.footer-button {
  background: #969af7;
  border: 0;
  padding: 20px;
  text-align: center;
  font-size: toRem(18);
  width: 261px;
}

.navigation--mobile {
  display: none;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #fff;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #fff;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}
.menu--mobile {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 75px 20px;
  background: #1c0a90;
  transform: translateX(-100%);
  transition: 0.3s;
}
.burger-checkbox:checked ~ .menu--mobile {
  transform: translateX(0);
}

@media (max-width: 1320px) {
  .header,
  .footer-wrap {
    flex-direction: column;
  }
  .banner {
    padding-top: 280px;
  }
  .work-card:nth-child(n) {
    clip-path: none;
    width: auto;
    height: auto;
    margin: 0;
    .card-content {
      margin: 0;
    }
    .card-title::before {
      padding: 0;
    }
  }
}

@media (max-width: 1294px) {
  .banner-inner {
    justify-content: center;
  }
  .banner-title {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .work-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 840px) {
  .header {
    flex-direction: row;
    padding: 20px;
  }
  .header-logo {
    margin-left: 50px;
  }
  .footer-menu {
    flex-direction: column;
    align-items: center;
  }
  .header-navigation.navigation--desktop {
    display: none;
  }
  .navigation--mobile {
    display: block;
  }
  .why-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .banner {
    padding: 120px 0;
  }
  .why {
    padding: 60px 0;
  }
  .brands {
    padding: 120px 20px;
  }
  .work {
    padding: 105px 0 115px;
  }
  .faq {
    padding-top: 101px;
    padding-bottom: 75px;
  }
}

@media (max-width: 768px) {
  .banner-title {
    font-size: toRem(60);
  }
  .cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 16px;
  }
  .banner-title {
    font-size: toRem(50);
  }
  h2 {
    font-size: 2rem;
  }

  .contact-number {
    display: none;
  }
  .brands-slider {
    padding: 0;
  }
  .swiper {
    max-width: 260px;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 14px;
  }
  .banner {
    padding: 100px 0;
  }
  .banner-title {
    font-size: toRem(35);
  }

  .header-logo {
    margin: 0;
  }
  .banner-info {
    margin-top: 27px;
  }
  .form-inner {
    padding: 20px;
  }
  .button {
    padding: toRem(15) toRem(40);
  }
  .houdini-heading .houdini-toggle {
    padding: 20px;
  }
  [class^="brands-button-"] img {
    width: 30px;
  }
  .brands-button-prev {
    left: -20px;
  }
  .brands-button-next {
    right: -20px;
  }
  .swiper {
    max-width: 200px;
  }
  .brands-slide {
    height: 144px;
  }
}
